#canvasVideo{
    animation: mainvideos 12s infinite alternate ;
    height: 40vh;
}
@keyframes mainvideos {
    0%{
        background-image: url(../images/HomePageImage/homepagevideo.gif);
        background-size: 100% 100%;
    }
    75%{
        background-image: url(../images/HomePageImage/lgWing.gif);
        background-size: 100% 100%;
    }
    100%{
        background-image: url(../images/HomePageImage/samsung.gif);
        background-size: 100% 100%;
    } 
}
/* body{
    background-color: ;
} */
#headphoto{
    height: 25vh;
    background-image: url(./images/wallpaper/blue);
    background-size: 100% 100%;
}

a:hover{
    color: rgb(97, 162, 223);
}
a{
    color: black;
    text-decoration: none;
}
nav{
    border-bottom: solid 1px rgb(18, 8, 216);
}