/* body{
    background-image: url(../images/Wallpaper/wallpaper.jpg);
    background-size: 100% 
} */
#cardphonenum0:hover {
    background-color: #A2D2FF;
}

#cardphonenum1:hover {
    background-color: #A2D2FF;
}

#cardphonenum2:hover {
    background-color: #A2D2FF;
}

#cardphonenum3:hover {
    background-color: #A2D2FF;

}

#cardphonenum4:hover {
    background-color: #A2D2FF;

}

#cardphonenum5:hover {
    background-color: #A2D2FF;

}

#cardphonenum6:hover {
    background-color: #A2D2FF;

}

#cardphonenum7:hover {
    background-color: #A2D2FF;

}

#cardphonenum8:hover {
    background-color: #A2D2FF;

}

#cardphonenum9:hover {
    background-color: #A2D2FF;

}

#cardphonenum10:hover {
    background-color: #A2D2FF;

}

#cardphonenum11:hover {
    background-color: #A2D2FF;

}

#cardphonenum12:hover {
    background-color: #A2D2FF;

}

#cardphonenum13:hover {
    background-color: #A2D2FF;

}

#cardphonenum14:hover {
    background-color: #A2D2FF;
}

#cardphonenum15:hover {
    background-color: #A2D2FF;
}

